*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#indexNav {
    z-index: 1;
    position:absolute;
    padding-top: 20px;
    padding-left: 20px;
    color: antiquewhite;
}

nav {
    padding-top: 20px;
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

.video-wrapper {
    width: 100vw;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
}

#header-text h1 {
    position: relative;
    color: white;
}

.image-gallery {
    /* Mobile first */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image-item {
    margin-bottom: 20px;
  }
  
  .image-item img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
  }

@media (min-width: 360px) {
    #header-text h1 {
        font-size: 60px;
    }

    #header-text {
        padding-top: 60%;
    }

}

@media only screen and (min-width: 768px) {
    .image-gallery {
      flex-direction: row;
    }

    #header-text h1 {
        font-size: 100px;
    }
}


/* Large devices */

@media (min-width: 992px) {
    #header-text {
        padding-top: 20%;
    }
}

/* Extra-large devices */

@media (min-width: 1800px)  {
    #header-text {
        padding-top: 30%;
    }
}